<section>
    <fieldset>
        <legend>Enter your projects:</legend>
        <div id="project-detail">
            <input type="text" placeholder="Enter the project name" size="30">
            <br>
            <ul id="project-specification-ul">
                <li><input type="text" placeholder="Enter your role in the project" size="50"></li>
            </ul>
        </div>
        <!--<input type="button" value="Add role " onclick="addrole()">
        <input type="button" value="Enter new project" onclick="addNewProject() ">-->
        <button type="button" (click)="addrole()">Add role</button>
        <button type="button" (click)="addNewProject()">Enter new project</button>
    </fieldset>
</section>