<div class="col-xs-12 col-md-5 col-sm-5">
    <fieldset id="contactform">
        <legend>Contact information: </legend>
        <div id="contactinput">
            <input type="email" placeholder="Enter your email">
            <br>
            <input type="number" placeholder="Enter your phone number">
            <br>
            <input type="text" placeholder="Enter your country">
            <br>
            <input type="text" placeholder="Enter your GitHub">
            <br>
        </div>
        <!--<input type="button" id="add " value="Add new contact" onclick="addNewContact()">-->
        <button type="button" (click)="aaddNewContact()">Add new contact</button>
    </fieldset>
</div>